*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-index{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left{
    display: flex;
    place-items: center;
    text-align: center;
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    height: 100vh;
    justify-content: center;
}

.container-icon{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.icon{
    width: 40px;
    height: 40px;
}

#warning{
    font-weight: bold;
    font-size: 18px;
}

/*Productos*/

.cards img{
    width: 10rem;
    height: 11rem;
}


.card-suplentes img{
    width: 14rem;
    height: 18rem;
    border-radius: 30px;
}

.card-suplentes{
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.card-titulares{
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.card-titulares img{
    width: 13rem;
    height: 16rem;
    border-radius: 30px;
}

.title-inicio{
    color: white;
}

.oferta{
    color: rgb(5, 212, 22);
    font-weight: bold;
}

#productosBuscados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



.vaciar{
    display: none;
}














